body {
  font-family: "Inter", sans-serif;
  background-color:#190a2e;
}

html,
body {
  overflow-x: hidden;

}
/* 
* {
  outline: 1px solid red;
} */
.numbers h1{
  color: #00FF88;
  font-size:x-large;
  font-weight: 700;


}

.numbers p{
  color: #ffffff;
  font-weight: 200;
}

.numbers{
  padding: 10px;
}
/* .btn:hover{
    cursor: pointer;
    transform: translateX(5px) translateY(-3px);
    transition-duration: 1ms;
   
} */

.image-container {
  max-width: 350px;
  max-height: 350px;
}

.grid-container{
  margin: 200px 120px;
}

.grid-container h1{
  font-size: larger;
  font-weight: 700;
  color: #ffffff;
}

.grid-container p{
  font-size: x-small;
  font-weight: 200;
  color: #ffffff;
  background: rgba(35, 14, 61, 1);
}
.g-box{
  background-color: rgba(53,17,101,0.4);
  border-radius: 30px;
}

@media screen and (max-width: 576px) {
  /* hero+navbar responsiveness */
  .navbar {
    justify-content: space-between;
    margin: 0px 8px;
  }

  .menu,
  .btn-nav {
    display: none;
  }

  #menu-btn {
    width: 24px;
    height: 24px;
  }

  .image-container {
    max-width: 200px;
    max-height: 200px;
  }

  .mic {
    max-width: 80px;
    max-height: 80px;
  }

  .hero-container {
    background-size: cover;
    background-position: center;
  }
  .grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

  }
  .g-box{
    width: 400px;

  }

  .host-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }


}
